body{
    margin: 0;
    padding: 0;
    background-color: #fff1dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

header {
    background-color: #F58430;
    width: 100%;
    height: 70px;
}

.flex{
    display: flex;
}

header > div{
height: 100%;
}

.width{
    width: 100%;
}

.headerMiddleBox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerSideBox{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage{
    height: 80%;
}