body {
    margin: 0;
    padding: 0;
    background-color: #fff1dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}


.cab {
    background-color: #F58430;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center
}

.logo {
    height: 100%;
    margin-top: 10px;
}


#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nome {
    background-color: black;
    color: white;
    border-color: black;
}

#senha {
    background-color: black;
    color: white;
    border-color: black;
}

#cadastro {
    background-color: black;
    color: white;
    border-color: black;
}

.inpput {
    background-color: rgb(114, 114, 114);
    color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 5px 1px #F58430;
    padding: 5px 20px;
}

#loginbutton {
    background-color: #f2a42d;
    width: 40%;
    height: 25%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-align: center;
    margin-top: 200px;
    color: rgba(79, 79, 79, 0.649);
}

.inputTag {
    all: unset;
    width: 100%;
}

hr {
    width: 100%;
    margin-top: -0.01px;
}

header {
    background-color: #F58430;
    width: 100%;
    height: 90px;
    height: 90px;
}

.flex {
    display: flex;
}

header>div {
    height: 100%;
}

.width {
    width: 100%;
}


.headerMiddleBox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerSideBox {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage {
    height: 50px;
}

#barraLateral {
    position: fixed;
    top: 0;
    width: 85%;
    height: 100%;
    background-color: #ffd79a;
    z-index: 1;
    overflow: hidden;
}

#barraLateral>h2 {
    color: black;
}

#tresBarraContainer {
    height: 70px;
    width: 100%;
    margin-bottom: 70px;
}

#tresBarraFinal {
    height: 50px;
    margin: 10px 19px;
}

.center {
    margin: auto;
}


#barraLateral>hr {
    border: 2px dashed rgb(0, 0, 0);
    width: 100%;
}

#barraLateral>div>img {
    height: 80%;
}

.barraOpcoes {
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
}

.voltarICON {
    margin: 20px;
    height: 75%;
}

.containerNotificacoes {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    height: 450px;
    gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 400px;
}

.containerNotificacoes .notificacoes {
    width: 90%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 10px;
}

.notiRight {
    height: 100%;
    width: 30%;
    background-color: orange;
    justify-content: center;
}

.notiLeft {
    height: 100%;
    width: 70%;
}



.notiLeftLine {
    display: flex;
    height: 22%;
    width: 100%;
    background-color: black;
}

.notiLeftMiddle {
    height: 56%;
    background-color: gray;
    width: 100%;
}

.notiLeftMiddle .descricao {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.leftLineLabel {
    display: flex;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
    align-items: center;
    margin-left: 8px;
}

.notiRightICON {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.notiRightDiv {
    /*Divs para separar a parte do Grau de perigo e o horário do alerta*/
    width: 100%;
    height: 100%;
}

.notiRightGrau {
    text-align: center;
}

.labelGrau {
    margin: 0;
    color: red;
    font-size: 35px;
}

.notiRightHorario {
    text-align: center;
}

.labelHorario {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 27px;
}

.red {
    /*Classe usada para ver a "hitbox" das divs(área)*/
    background-color: red;
}

.blue {
    /*Classe usada para ver a "hitbox" das divs(área)*/
    background-color: blue;
}

.voltarICON {
    margin: 20px;
    height: 75%;
}

.dim {
    height: 285px;
    margin: auto;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 600px;
    align-items: center;
    justify-content: center;
}

.par {
    text-align: center;
    font-size: 20px;

}

.nomesla {
    font-size: 50px;
    text-align: center;
}

.per {
    margin: 0;
}

.voltarICON {
    margin: 20px;
    height: 75%;
}

.BoxStatus {
    background-color: darkgray;
    border-radius: 5px;
    padding: 3px;
    margin: 5%;
    height: 50px;
    overflow: hidden;


}
.PaginaTrens{
    display: flex;
    flex-direction: column;
    padding: 9%;
}

#botaoRelatar {
    background-color: rgba(255, 166, 0, 0.788);
    width: 260px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 1px black;
}

/*INÍCIO ESCOPO CSS DO ESCREVER NOTIFICAÇÕES*/


.relatarContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.relatarLabel{
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.relatarInput {
    all: unset;
    min-height: 50px;
    background-color: rgb(114, 114, 114);
    color: white;
    border-radius: 20px;
    box-shadow: 4px 5px 1px #F58430;
    padding: 5px 20px;
    resize: none;
    overflow-wrap: break-word;
    line-height: 1.4;
}

.relatarSubmit{
    width: 70px;
    margin: auto;
    margin-top: 30px;
    width: 40px;
}

/*FIM ESCOPO CSS DO ESCREVER NOTIFICAÇÕES*/

.but {
    height: 50px;
    width: 60%;
    background-color: #F58430;
}

.ca {
    display: flex;
    justify-content: center;
}

.but {
    height: 50px;
    width: 60%;
    background-color: #F58430;
}

.ca {
    display: flex;
    justify-content: center;
}

/*Pertence a tren.html*/

.ContainerTren {
    display: flex;
    flex-direction: column;
  
}

.ContainerTren h1 {
    margin: 0;
}


.caixaTriangulo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    margin: 5px;

}

.caixaTriangulo img {
    height: 10%;
    width: 10%;
}


.Rotas_IdBlock1{
    background-color: blue;
    height: 25px;
    width: 65px;
    justify-content: center;
}



.Rotas_IdBlock2{
    background-color: rgb(54, 255, 98);
    height: 25px;
    width: 65px;
}




.Rotas_IdBlock3{
    background-color: rgb(187, 65, 181);
    height: 25px;
    width: 65px;
}


.Rotas_IdBlock4{
background-color: rgb(240, 61, 61);
    height: 25px;
    width: 65px;
}

.InfoMotorista {
    display: flex;
    justify-content: space-around;
    
}


.motoristaImg{
    height: 80%;
    width: 50%;
    margin-left: 20%;
}

/*INICIO ESCOPO CSS HOMEPAGE MAPA*/

.containerMapaFerrovia{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
}


.containerMapaFerrovia > img{
    height: 100%;
    position: absolute;
}

/*FIM ESCOPO CSS HOMEPAGE MAPA*/


/*INICIO ESCOPO CSS HOMEPAGE MENU DE ROTAS DE TRENS*/


.containerVerRotas{
    width: 100%;
    height: 35px;
    background-color: #F58430;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.containerVerRotas > .boxRotas{
    margin: auto;
    margin-top: 15px;
    width: 80%;
    background-color: white;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

.boxRotas > p{
    margin: 0;
    padding: 0;
    font-weight: 900px;
    font-size: 20px;
    margin-left: 10px;
}

.colorRota1{
    background-color: blue;
    width: 70px;
    height: 30px;
    margin: 10px;
}
.colorRota2{
    background-color: green;
    width: 70px;
    height: 30px;
    margin: 10px;

}
.colorRota3{
    background-color: rgb(255, 30, 217);
    width: 70px;
    height: 30px;
    margin: 10px;
}


.grayLine{
    background-color: gray;
    width: 70%;
    height: 15px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

/*FIM ESCOPO CSS HOMEPAGE MENU DE ROTAS DE TRENS*/