body{
    margin: 0;
    padding: 0;
    background-color: #fff1dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.cab{
    background-color: #F58430;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center
}

.logo{
    height: 100%;
    margin-top: 10px;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nome{
   background-color: black;
   color: white;
   border-color: black;
}
#senha{
    background-color: black;
    color: white;
    border-color: black;
 }
 #cadastro{
    background-color: black;
    color: white;
    border-color: black;
 }
.inpput{
    background-color: rgb(114, 114, 114);
    color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 5px 1px #F58430;
    padding: 5px 20px;
}

#loginbutton{
    background-color: #f2a42d;
    width: 40%;
    height: 25%;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > p{
    margin: 0; padding: 0; font-size: 11px; text-align: center; margin-top: 200px; color: rgba(79, 79, 79, 0.649);
}

.inputTag{
    all: unset;
    width: 100%;
}

hr{
    width: 100%;
    margin-top: -0.01px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff1dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

header {
    background-color: #F58430;
    width: 100%;
    height: 70px;
}

.flex{
    display: flex;
}

header > div{
height: 100%;
}

.width{
    width: 100%;
}


.headerMiddleBox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerSideBox{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage{
    height: 50px;
}

#barraLateral{
    position: fixed;
    top: 0;
    width: 85%;
    height: 100%;
    background-color: #ffd79a;
    z-index: 1;
    overflow: hidden;
}

#barraLateral > h2{
    color: black;
}

#tresBarraContainer{
    height: 70px;
    width: 100%;
    margin-bottom: 70px;
}

#tresBarraFinal {
    height: 50px;
    margin: 10px 19px;
}

.center{
    margin: auto;
}


#barraLateral > hr{
    border: 2px dashed rgb(0, 0, 0);
    width: 100%;
}

#barraLateral > div > img{
    height: 80%;
}

.barraOpcoes{
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
}
