body{
    margin: 0;
    padding: 0;
    background-color: #fff1dc;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.cab{
    background-color: #F58430;
    width: 1000px;
    height: 100px;
    
}


#form{
    
}
#nome{
   
}
.nome{
    background-color: aqua;
}